<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.time">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".popupexam1"></activity>
        <activity android:name=".popupexam" />
        <activity android:name=".exam3" />
        <activity android:name=".exam2" />
        <activity android:name=".signupform" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".proj3" />
        <activity android:name=".proj2" />
        <activity android:name=".proj1" />
        <activity android:name=".work1" />
        <activity android:name=".exam1" />
        <activity android:name=".ass2" />
        <activity android:name=".ass1" />
        <activity android:name=".aat2" />
        <activity android:name=".aat1" />
        <activity android:name=".tasks" />
        <activity android:name=".syllabus_home" />
        <activity android:name=".syllabus" />
        <activity android:name=".view_syllabus" /> <!-- <activity android:name=".syll" /> -->
        <!-- <activity android:name=".popup_dialog" /> -->
        <!-- <activity android:name=".status" /> -->
        <!-- <activity android:name=".notes" /> -->
        <activity android:name=".home" />
    </application>

</manifest>